
<!-- *ngFor -->
<h2>Goal Listing</h2>

<ul id="goal-listing">

  <div class="container">
    <label>Search by lucky color:</label>
    <input type="text" [(ngModel)] = "term">
  </div>

  <li *ngFor="let goal of goals | filter:term">
    <div>
        <label>Lucky Color: </label>
        <span [ngStyle]="{background: goal.color}" >{{goal.color}}</span><br>
        <label>Small Goal: </label><span>{{goal.small | titlecase}}</span><br>
        <label>Big Goal: </label><span>{{goal.big}}</span>
    </div>
  </li>
</ul>
