
<!-- *ngFor -->
<h2>Goal Listing</h2>

<ul id="goal-listing">

  <div id="search">
    <label>Search by lucky color:</label>
    <input type="text" [(ngModel)] = "term">
  </div>

  <li *ngFor="let goal of goals | filter:term; let i = index">
    <div>
        <label>Goal Number: </label>
        <span>{{goal.index}}</span><br>
        <label>Lucky Color: </label>
        <span name="thiscolor" [ngStyle]="{background: goal.color}" >{{goal.color}}</span><br>
        <label>Small Goal: </label><span>{{goal.small | titlecase}}</span><br>
        <label>Big Goal: </label><span>{{goal.big}}</span><br>
        <br>
        <p align="right">
        <button class="btn btn-danger" type="button" (click)="delete_a_goal(goal.index)" >Delete</button>
        </p>
    </div>
  </li>
</ul>

<div id="add-goal" >
  <label>Goal Number: </label>
  <input type="text" [(ngModel)] = "index"><br><br>
  <label>Small Goal: </label>
  <input type="text" [(ngModel)] = "small_goal" ><br><br>
  <label>Big Goal: </label>
  <input type="text" [(ngModel)] = "big_goal" ><br><br>
  <label>Lucky Color: </label>
  <input type="text" [(ngModel)] = "lucky_color" ><br><br>
</div>
<button class="btn btn-primary" type="button" (click)="add_a_goal(index, small_goal, big_goal, lucky_color)">Add Goal</button>

<!-- <button  (click)="log_service()">Click me to log!!</button> -->
