<header>
  <h1>{{title}}</h1>
  <h6>{{motivation}}</h6>
  <nav>
    <ul>
      <li>Nav bar link</li>
      <li>Nav bar link</li>
    </ul>
  </nav>
</header>
<section id="main">

  <!-- <app-home [propertyGoal]="goal" (customEvent)="customFunction($event)" ></app-home> -->
  <router-outlet ></router-outlet>

</section>

<!-- @Output custom event binding: -->

        <!-- (customEvent)="customFunction($event)" -->

        <!-- ****************** SUPER IMPORTAN part: ********************************* -->
        <!-- the HomeComponent will need to add these in home.component.ts/export class
        import { Component, OnInit , Input, Output, EventEmitter } from '@angular/core';
        @Output() customEvent = new EventEmitter();
        fireTheCustomEvent(e) this is a (click)="fireTheCustomEvent($event)" for the view
          {
            this.customEvent.emit(e);
          }

        -->
        <!-- ******************************************************************* -->

<!-- @Input custom property binding: -->

        <!-- [custom Property] = "object/model in component.ts"  -->
        <!-- => [propertyGoal]="goal" -->

        <!-- passing the data in the object "goal" into [propertyGoal]
        so the HomeComponent can get the data out of this [propertyGoal] -->

        <!-- ****************** SUPER IMPORTAN part: ********************************* -->
        <!-- the HomeComponent will need to add these in home.component.ts/export class
        import { Component, OnInit , Input} from '@angular/core';
        @Input() propertyGoal; -->
        <!-- ******************************************************************* -->

        <!-- in the HomeComponent's view, use propertyGoal to access object goal variables -->
